*{
    font-family: Arial;
    font-weight: normal;
}
.tk-centered{
    margin:auto;
}
.tk-btn-dark{
    width: fit-content;
    height: fit-content;
    margin: 10px;
    padding: 5px 20px;
    background-color: #132342;
    border: none;
    color: white;
    border-radius: 5px;
    font-size: 16px;
}
.tk-btn-dark:focus, .tk-btn-dark:hover{
    background-color: #20293b;
    outline:#132342 2px solid;
    outline-offset: 2px;
}
.tk-btn-dark:active{
    background-color: #6e96e3 !important;
}
.tk-separator{
    width: 40px;
    height: 1px;
    border-bottom: #7a8293 2px dotted;
}
.tk-toolkit-btn{
 width: 30px;
 height: 30px;
 margin: 5px;
 padding: 0;
 /*outline:#FFF 1px solid;*/
 text-align: center;
 border-radius: 0;
}
.tk-toolkit-btn:focus, .tk-toolkit-btn:hover{
    outline:#f8f9fa 1px solid;
    outline-offset: -2px;
    background-color: #132342;
    border-radius: 5px;
}
.tk-toolkit-active-btn{
    background-color: #3e5b98 !important;
    border-radius: 5px;
    border-bottom: none;
}
.tk-white-top-btn{
    padding: 0;
    margin: 1px;
    width: 38px;
    height: 18px;
    background-color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border:none
    /* outline: #132342 1px solid; */
    /* outline-offset: -2px; */

}
#expandable-section{
    display: flex;
    flex-direction: column;
}
.row-view-expandable-section{
    flex-direction: row !important;
}

/* Toolkit layout */

.layout-container{
    position: absolute; 
    top: 0px;
    left: 0px; 
    visibility: visible; 
    z-index: 2147483000;
    display: flex;
    flex-direction: column;
}
.toolkit{
    position: fixed; 
    top: 0px;
    left: 0px; 
    width: 40px; 
    height: fit-content; 
    margin: 20px; 
    background-color: #132342; 
    border: white thin solid;
    border-radius: 10px;
    z-index: 2147483646;
}
/*Tool tip*/
.tk-tooltip{
    position: fixed;
    top:0;
    left: 60px;
    width: fit-content;
    height: fit-content;
    max-width: 1000px;
    padding: 10px;
    background-color: black;
    border: white thin solid;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    z-index: 2147483647;
    
}
.tk-tooltip-text{
    color: white;
}
.tk-tooltip-icon{
    position: relative;
    top:0px;
    left:-15px;
}
.tk-tooltip-btn{
    margin-left: 15px;
}
#page-title-container{
    position: fixed;
    top:10px;
    left: 80px;
}
.transition-all {
    transition: all .3s ease-in;
}
.expanded{
    height: 0 !important;
    transition: all .3s ease-in;
}
.collapsed{
    height: fit-content !important;
    transition: all .3s ease-in;
}
.tk-light-blue{
    background-color: #2d529a;
}
.tk-light-blue:hover, .tk-light-blue:focus{
    background-color: #2d529a;
}
.tk-pill{
    position: absolute;
    top: -10px;
    left: -10px;
    margin: 5px;
    background-color: #132342;
    font-size: 10px;
    border-radius: 3px;
    padding: 1px;
}
.tk-pilled-button-container{
    position:relative;
}
.tk-pilled-button-container svg{
    margin-top: 10px;;
}
.light-blue-toolkit-active-btn{
    background-color: #6e96e3;
    border-radius: 5px;
    border-bottom: none;
}
.bg-red-usb{
    background-color: #a00303;
}
.bg-green-starbucks{
    background-color: #0B5232;
}
.bg-blue-bbva{
    background-color: #0C4283;
}
.bg-bfv{
    background-color: #329a2d;
}
.white-border{
    border: white thin solid;
}
.bg-dark-blue{
    background-color: #163368;
}
#props-popup{
    position: fixed;
    top:60px;
    left: 60px;
    width: fit-content;
    max-width: 300px;
    height: fit-content;
    padding: 0 10px 10px;
    background-color: white;
    border: white thin solid;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    filter: drop-shadow(0 0 0.55rem rgb(3, 3, 3));
    line-height: 20px;
    text-align: right;
}
ul,li{
    margin:0;
    padding: 0;
    color:#666;
    list-style-type: none;
}
li{
    display: flex;
    justify-content: space-between;
}
#props-popup-close-btn{
    background-color: white;
    border: none;
    margin: 0;
    padding: 0;
    padding-top: 2px;
}
#props-popup-close-btn:focus,#props-popup-close-btn:hover{
    outline: #666 thin solid;
    border-radius: 3px;
}
#props-popup-close-btn:active{
    background-color: #eee;
    border-radius: 3px;
}
li span strong{
    padding-right: 10px;
}
.hovered-style{
    background-color: cyan !important;
    color: black !important;

}
.hover-outline-inner{
    outline: black medium dotted !important;
    outline-offset: -3px !important;
}
.hover-outline-outter{
    outline: white 2px dotted !important;
    outline-offset: 0px !important;
}
.hovered-inspected-element{
    box-shadow: rgb(0 255 255) 0px 0px 0px 8px;
    outline: rgb(255, 0, 0) solid 4px !important;
    outline-offset: 1px !important;
    border-radius: 2px;
    background-color: rgb(0 255 255);
}
.popup-props-color-container{
    width: fit-content;
    display: flex;
  
}
.text-color-code{
    margin-right: 5px;
}
.text-color-square{
    width: 15px;
    height: 15px;
    padding-top: 2px;
}
#expandable-section{
    display:flex;
    flex-direction: column;
    box-sizing: content-box;
}
#testing-toolkit{
    display:flex;
    flex-direction: column;
}
#utest-toolkit{
    display:flex;
    flex-direction: column;
}
/* Row view */
.row-view-testing-toolkit{
    display: flex;
    flex-direction: row !important;
}
.row-view-toolkit{
    width: fit-content;
    height: 40px;
    display: flex;
    flex-direction: row;
}
.row-view-direction-btn{
    width: 18px;
    height: 38px;
    background-color: white;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 0px;
    border: none
}
.row-view-direction-svg{
    transform:rotate(90deg)
}
.d-flex{
    display: flex !important;
}
.d-none{
    display: none  !important;
}
button#direction-btn:hover {
    background-color:#c1d4f8;
}
button#direction-btn:focus {
    background-color:#8297bf;
}
.tk-red-outline{
    outline: red solid 2px;
}
.tk-blue-outline{
    outline: blue solid 2px;
}

