.centered{
    margin:auto;
}
.btn-dark{
    width: fit-content;
    height: fit-content;
    margin: 10px;
    padding: 5px 20px;
    background-color: #132342;
    border: none;
    color: white;
    border-radius: 5px;
    font-size: 16px;
}
.btn-dark:focus, .btn-dark:hover{
    background-color: #20293b;
    outline:#132342 2px solid;
    outline-offset: 2px;
}
.separator{
    width:25px;
    height: 2px;
    padding: 5px;
    color:#7a8293;
}
.toolkit-btn{
 width: 40px;
 height: 40px;
 margin: 5px;
 padding: 0;
 /*outline:#FFF 1px solid;*/
 text-align: center;
 border-bottom: #7a8293 2px dotted;
 border-radius: 0;
}
.toolkit-btn:focus, .toolkit-btn:hover{
    outline:#f8f9fa 1px solid;
    outline-offset: -2px;
    background-color: #132342;
    border-radius: 5px;
}
.toolkit-active-btn{
    background-color: #3e5b98 !important;
    border-radius: 5px;
    border-bottom: none;
}

/* Toolkit layout */

.layout-container{
    position: absolute; 
    top: 0px;
    left: 0px; 
    visibility: visible; 
    z-index: 2147483000;
    display: flex;
    flex-direction: column;
}
.toolkit{
    position: fixed; 
    top: 0px;
    left: 0px; 
    width: 50px; 
    height: fit-content; 
    margin: 20px; 
    background-color: #132342; 
    border: white thin solid;
    border-radius: 10px;
    z-index: 2147483646;
}
/*Tool tip*/
.tooltip{
    position: fixed;
    top:0;
    left: 60px;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    background-color: black;
    border: white thin solid;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    
}
.tooltip-text{
    color: white;
}
.tooltip-icon{
    position: relative;
    top:0px;
    left:-15px;
}
.tooltip-btn{
    margin-left: 15px;
}
#page-title-container{
    position: fixed;
    top:10px;
    left: 80px;
}


